#container {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh; 
    width:  100vw;
}

#line {
    display:flex;
    justify-content: center;
    align-items: center;
}

#square-item {
    width: 10px;
    height: 10px;
    border: 1px solid black;
    margin: 2px;
}

